body {
    margin: 10px;
    padding: 5px;
}

svg {
    background-color: #F5F5F5;
}
.parallel_chart {
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

#background {
    fill: white;
}
